h1 {
  font-size: 50px;
  margin-bottom: 40px;
}
p {
  margin-bottom: 20px;
}

ul {
height: 300px;
}

li {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 5px solid gainsboro;
}
li img {
  cursor: pointer;
  display: block;
  position: relative; /* Next 3 lines center img's vertically */
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  max-width: 100%;
  margin: 0px auto; /* centers img's horizontally, but not vertically*/
}

table, th, td {
  font-family: 'Arial', sans-serif;
  border: 1px solid black;
}

th, td {
  padding: 4px;
}

label, input, button {
  font-family: 'Arial', sans-serif;
}
